<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Exemplo de código Javascript - www.devfuria.com.br</title>
        <meta charset="utf-8">
    </head>
    <body>
Checkbox: <input type="checkbox" id="myCheck" onclick="myFunction()">

<p id="text" style="display:none">Checkbox is CHECKED!</p>
        <script type="text/javascript" src="checkboxes-v1.0.js"></script>
    </body>
</html>
<script src="js/jquery.min.js"></script> 
<script src="js/jquery.ui.custom.js"></script> 
<script>
function myFunction() {
  // Get the checkbox
  var checkBox = document.getElementById("myCheck");
  // Get the output text
  var text = document.getElementById("text");

  // If the checkbox is checked, display the output text
  if (checkBox.checked == true){
    text.style.display = "block";
  } else {
    text.style.display = "none";
  }
}
</script>