<!DOCTYPE html>
<html lang="en">
<head>
    <title>Matrix Admin</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/Content/Layout/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Layout/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="~/Content/Layout/css/fullcalendar.css" />
    <link rel="stylesheet" href="~/Content/Layout/css/matrix-style.css" />
    <link rel="stylesheet" href="~/Content/Layout/css/matrix-media.css" />
    <link href="~/Content/Layout/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/Layout/css/jquery.gritter.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
</head>
<body>

    <!--Header-part-->
    <div id="header">
        <h1><a href="dashboard.html">Matrix Admin</a></h1>
    </div>
    <!--close-Header-part-->
    <!--TopMenu-->
    @Html.Partial("~/Views/Shared/TopHeaderMenu.cshtml")
    <!--sidebar-menu-->
    @Html.Partial("~/Views/Shared/SidebarMenu.cshtml")
    <!--sidebar-menu-->
    <!--main-container-part-->
    <div id="content">
        <!--breadcrumbs-->
        <div id="content-header">
            <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a></div>
        </div>
        <!--End-breadcrumbs-->
        <!--main-container-part-->
        <div class="container-fluid">
            <div class="row-fluid">
                @RenderBody()
            </div>
        </div>
    </div>

    <!--end-main-container-part-->
    <!--Footer-part-->

    <div class="row-fluid">
        <div id="footer" class="span12"> 2013 &copy; Matrix Admin. Brought to you by <a href="http://themedesigner.in">Themedesigner.in</a> </div>
    </div>

    <!--end-Footer-part-->

    <script src="~/Content/Layout/js/excanvas.min.js"></script>
    <script src="~/Content/Layout/js/jquery.min.js"></script>
    <script src="~/Content/Layout/js/jquery.ui.custom.js"></script>
    <script src="~/Content/Layout/js/bootstrap.min.js"></script>
    <script src="~/Content/Layout/js/jquery.flot.min.js"></script>
    <script src="~/Content/Layout/js/jquery.flot.resize.min.js"></script>
    <script src="~/Content/Layout/js/jquery.peity.min.js"></script>
    <script src="~/Content/Layout/js/fullcalendar.min.js"></script>
    <script src="~/Content/Layout/js/matrix.js"></script>
    <script src="~/Content/Layout/js/matrix.dashboard.js"></script>
    <script src="~/Content/Layout/js/jquery.gritter.min.js"></script>
    <script src="~/Content/Layout/js/matrix.interface.js"></script>
    <script src="~/Content/Layout/js/matrix.chat.js"></script>
    <script src="~/Content/Layout/js/jquery.validate.js"></script>
    <script src="~/Content/Layout/js/matrix.form_validation.js"></script>
    <script src="~/Content/Layout/js/jquery.wizard.js"></script>
    <script src="~/Content/Layout/js/jquery.uniform.js"></script>
    <script src="~/Content/Layout/js/select2.min.js"></script>
    <script src="~/Content/Layout/js/matrix.popover.js"></script>
    <script src="~/Content/Layout/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/Layout/js/matrix.tables.js"></script>
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        // This function is called from the pop-up menus to transfer to
        // a different page. Ignore if the value returned is a null string:
        function goPage(newURL) {

            // if url is empty, skip the menu dividers and reset the menu selection to default
            if (newURL != "") {

                // if url is "-", it is this page -- reset the menu:
                if (newURL == "-") {
                    resetMenu();
                }
                // else, send page to designated URL
                else {
                    document.location.href = newURL;
                }
            }
        }

        // resets the menu selection upon entry to this page:
        function resetMenu() {
            document.gomenu.selector.selectedIndex = 2;
        }</script>
</body>
</html>
